body {background-color: rgb(239, 213, 245);}
hr {height: 5px; background-color: rgb(83, 10, 10);}
h3 {color: rgb(148, 3, 32);}
li {list-style: square inside none;}
a {background-color: rgb(237, 135, 135);}